<main>
  <h1>Custom Structural directive</h1>
  <section
    *hideAfter="5000 as time; then placeHolder; let counter = counter"
    class="banner primary"
  >
    <h2>Temporary contact</h2>
    <p>
      This layout should disappera in {{ time }} seconds. it disappears in:
      {{ counter }}
    </p>
  </section>
  <ng-template #placeHolder let-hiddenAfter="hideAfter" let-defaultValue>
    <section class="banner placeholder">
      <h2>Placeholder</h2>
      <p>
        Here was some content. the previous template was visible for
        {{ hiddenAfter }} seconds
      </p>
      <p>the implicit default value is {{ defaultValue }}</p>
    </section>
  </ng-template>

  <section *ifLoaded="state">Data was loaded. User nam : {{ state.data.name }}</section>
</main>
