.banner {
  padding: 8px;
  font: 16px bold;
  color: white;
  border-radius: 8px;
}

h2 {
  padding: 0;
  margin: 0;
}

.primary {
  background-color: rgb(71, 8, 218);
}

.placeholder {
  background-color: rgb(219, 219, 219);
  color: black;
  font-weight: 500;
}
